<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <h:head>  

    </h:head> 
    <h:body>
        <h:form id="formulario">

            <p:panel header="Administración de Productos"  >
                <h:panelGrid id="idPanelGrid" columns="4" >
                    <p:outputLabel for="codigoProducto" value="Código" />
                    <p:inputText  id="codigoProducto" required="false" disabled="true"  value="#{gestionarProductoBean.productoSeleccionado.prdCodigo}"  />


                    <p:outputLabel for="descripcionProducto" value="Descripción " />
                    <p:inputText id="descripcionProducto" required="true" value="#{gestionarProductoBean.productoSeleccionado.prdDescripcion}"  />


                    <p:outputLabel  value="Nombre " />
                    <p:inputText id="nombreProducto" required="true" value="#{gestionarProductoBean.productoSeleccionado.prdNombre}"  />

                    <p:outputLabel for="estadoProducto" value="Estado " />


                    <p:selectOneMenu id="estadoProducto" required="true" value="#{gestionarProductoBean.productoSeleccionado.prdEstado}" >
                        <f:selectItem itemLabel="Seleccione"  />
                        <f:selectItem itemLabel="Activo" itemValue="A" />
                        <f:selectItem itemLabel="Inactivo" itemValue="I" />

                    </p:selectOneMenu>


                    <p:outputLabel for="grupoProducto" value="Grupo Producto " />


                    <p:selectOneMenu id="grupoProducto" value="#{gestionarProductoBean.productoSeleccionado.grupoProducto.gprCodigo}" required="true" >
                        <f:selectItem itemLabel="Seleccione"  />
                        <f:selectItems value="#{gestionarProductoBean.listaGrupoProducto}"  var="itemProducto"  itemLabel="#{itemProducto.gprCodigo} #{itemProducto.gprNombre}" itemValue="#{itemProducto.gprCodigo}"/>
                    </p:selectOneMenu>

                </h:panelGrid>

                <p:commandButton value="Aceptar" update="formulario:idPanelGrid formularioTabla:tablaproducto" actionListener="#{gestionarProductoBean.onAceptar(actionEvent)}"/>

                <p:messages autoUpdate="true" showDetail="true"/>
            </p:panel>

        </h:form>
        <h:form id="formularioTabla">
            <p:dataTable id="tablaproducto" emptyMessage="No se encontraron registros"  value="#{gestionarProductoBean.listaProducto}" var="itemTabla">
                <p:column headerText="Opciones" >

                    <p:commandButton icon="ui-icon-pencil" update="formulario:idPanelGrid " actionListener="#{gestionarProductoBean.onEditar(itemTabla)}" immediate="true" />
                    <p:commandButton icon="ui-icon-trash" update="formularioTabla:tablaproducto" actionListener="#{gestionarProductoBean.onEliminar(itemTabla)}"/>

                </p:column>

                <p:column headerText="Código" sortBy="#{itemTabla.prdCodigo}">
                    <h:outputText value="#{itemTabla.prdCodigo}" />
                </p:column>

                <p:column headerText="Nombre" sortBy="#{itemTabla.prdNombre}">
                    <h:outputText value="#{itemTabla.prdNombre}" />
                </p:column>

                <p:column headerText="Descripción" sortBy="#{itemTabla.prdDescripcion}">
                    <h:outputText value="#{itemTabla.prdDescripcion}" />
                </p:column>

                <p:column headerText="Grupo de Producto" sortBy="#{itemTabla.grupoProducto.gprCodigo} - #{itemTabla.grupoProducto.gprNombre}">
                    <h:outputText value="#{itemTabla.grupoProducto.gprCodigo} - #{itemTabla.grupoProducto.gprNombre}" />
                </p:column>

                <p:column headerText="Estado" sortBy="#{itemTabla.prdEstado eq 'A'?'Activo':'Inactivo' }">
                    <h:outputText value="#{itemTabla.prdEstado eq 'A'?'Activo':'Inactivo' }" />
                </p:column>
            </p:dataTable>

        </h:form>
    </h:body>

</html>